<%- include("partials/header") -%>
    <%- include("partials/topnavigation") -%>
        <%- include("partials/sidenav") -%>

            <div class="aboutpage-banner">

                <div class="w3-row">
                    <div class="w3-col l6 m6">
                        <ul class="breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li>ABOUT</li>
                        </ul>
                        <br>
                        <h1 class="aboutpage-banner-heading">ABOUT</h1>
                        <br>
                        <br>
                        <p class="aboutpage-banner-supporting">
                            Nat-Hammah Estates is a new state-of-the-art real estate located in Winneba. We are
                            committed to providing custom-made, beautiful yet affordable living spaces for people in
                            different income brackets that will suit their lifestyle. We are primed to help especially
                            first-time homeowners to get their dream homes without stress.
                            <br>
                            <br>
                            With our professional and experienced team of experts in land acquisition, architecture,
                            land use and spatial planning, realtors, we have set out to provide our customers and the
                            general public with world-class accommodation here in Ghana.
                            <br>
                            <br>
                            We are here to develop long lasting and prosperous relationships with our customers.
                        </p>
                    </div>
                    <div class="w3-col l6 m6">
                        <div class="aboutpage-banner-img" style="background-image: url('/assets/beautiful-modern-style-house.jpg');"></div>
                    </div>
                </div>

            </div>

            <div class="aboutpage-section">
                <div class="w3-row">
                    <div class="w3-col l6 m6">
                        <h2>Why Winneba Estates ?</h2>
                        <ul class="w3-ul aboutpage-banner-supporting">
                            <li>Litigation-free, high-end homes at reasonable costs.</li>
                            <li>The estate boasts an amazing sea-view on one side and a lagoon and mountain-view on the other side.</li>
                            <li>The estate is close to the Muni-Pomadze Ramsar site which attracts thousands of tourists every year.</li>
                            <li>A focus on green homes which are solar powered.</li>
                            <li>Easy access to essential social amenities (regular electricity supply, good roads, recreational centers, shopping centers, health facilities, educational facilities etc.)</li>
                            <li>Assurance of constant security – You enter the estate through the Ghana Police and Staff Command College in Winneba with a police station just about a kilometer away</li>
                            <li>Excellent waste management services.</li>
                            <li>Centralized air conditioning system.</li>
                            <li>Smart homes with systems that can be controlled remotely.</li>
                            <li>The estate is just a few minutes’ drive from the University of Education, Winneba campus which is a vibrant community close to our community. The university presents residents with many opportunities for higher education, business etc.</li>
                            <li>The estate is within a serene environment without the hustle and bustle of the city centers.</li>
                            <li>The estate is about an hour’s drive from the capital, Accra.</li>
                            <li>As a resident of the estate, you get to enjoy the beauty of local fishermen dragging their nets amidst singing.</li>
                            <li>The estate will have a village on stilts for local fishermen with excellent amenities. We are focused on not displacing the local fishermen so they can continue to engage in fishing to support their livelihoods. When you get a home from our estate, you will be contributing to providing homes for locals who cannot afford decent homes.</li>
                        </ul>

                        <p class="aboutpage-banner-supporting"> 
                            Our development is flanked by the estate of the Member of Parliament for the Effutu constituency. This is advantageous as it means there is an existing community with alternative social amenities. The MP’s estate already has a clinic and a school being built on site. With our development flanking the MP’s our home owners stand to benefit from initiatives put in place by the MP for the development of the area.
                        </p>
                    </div>
                </div>
                    
            </div>

            <%- include("partials/footer") -%>