<%- include("partials/header") -%>
    <%- include("partials/topnavigation") -%>
        <%- include("partials/sidenav") -%>

            <div class="homespage-banner">
                <div class="w3-row">
                    <div class="w3-col l2 m4">
                        <ul class="breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li>HOMES</li>
                        </ul>
                        <h3 class="homespage-banner-heading">PROPERTIES AVAILABLE</h3>
                    </div>
                    <div class="w3-col l10 m8 hp-banner-img-col">
                        <div class="homespage-banner-img" style="background-image: url('/assets/beautiful-modern-style-house.jpg');">
                        </div>
                        <br>
                        <br>
                        <div class="w3-row">
                            <div class="w3-col l4 p-card-col">
                                <a href="" style="text-decoration: none;">
                                    <div class="property-card">
                                        <div class="property-header-text-cont">
                                            <h5 class="property-h-heading w3-wide">Estate One</h5>
                                            <p class="property-h-supporting">Royal Family Estate</p>
                                            <span class="property-h-price">$565,000</span>
                                        </div>
                                        <div class="property-bg-img" 
                                        style="background-image: url('/assets/Royal-Family-Estate.jpeg');">
        
                                        </div>
                                        <div class="property-extra-desc">
                                            <i class="fas fa-bed"></i>
                                            <span class="w3-small">7 Rooms</span>
                                            &nbsp;
                                            <i class="fas fa-toilet"></i>
                                            <span class="w3-small">8</span>
                                            &nbsp;
                                            <!-- <i class="fas fa-ruler-combined"></i>
                                            <span class="w3-small">450m²</span> -->
                                        </div>
                                        <button class="w3-button w3-round-xxlarge w3-wide w3-block w3-small property-card-btn">
                                            <span class="w3-hide-small">VIEW</span> ALL DETAILS
                                        </button>
                                    </div>
                                </a>
                            </div>
                            <div class="w3-col l4 p-card-col">
                                <a href="" style="text-decoration: none;">
                                    <div class="property-card">
                                        <div class="property-header-text-cont">
                                            <h5 class="property-h-heading w3-wide">Estate Two</h5>
                                            <p class="property-h-supporting">Eloquence Estate</p>
                                            <span class="property-h-price">$490,000</span>
                                        </div>
                                        <div class="property-bg-img" 
                                        style="background-image: url('/assets/Eloquence-Estate.jpeg');">
        
                                        </div>
                                        <div class="property-extra-desc">
                                            <i class="fas fa-bed"></i>
                                            <span class="w3-small">5 Rooms</span>
                                            &nbsp;
                                            <i class="fas fa-toilet"></i>
                                            <span class="w3-small">6 Toilets</span>
                                            &nbsp;
                                            <!-- <i class="fas fa-ruler-combined"></i>
                                            <span class="w3-small">450m²</span> -->
                                        </div>
                                        <button class="w3-button w3-round-xxlarge w3-wide w3-block w3-small property-card-btn">
                                            <span class="w3-hide-small">VIEW</span> ALL DETAILS
                                        </button>
                                    </div>
                                </a>
                            </div>
                            <div class="w3-col l4 p-card-col">
                                <a href="" style="text-decoration: none;">
                                    <div class="property-card">
                                        <div class="property-header-text-cont">
                                            <h5 class="property-h-heading w3-wide">Estate Three</h5>
                                            <p class="property-h-supporting">Nature Valley Estate</p>
                                            <span class="property-h-price">$400,000</span>
                                        </div>
                                        <div class="property-bg-img" 
                                        style="background-image: url('/assets/Nature-Valley-Estate.jpeg');">
        
                                        </div>
                                        <div class="property-extra-desc">
                                            <i class="fas fa-bed"></i>
                                            <span class="w3-small">5 Rooms</span>
                                            &nbsp;
                                            <i class="fas fa-toilet"></i>
                                            <span class="w3-small">6 Toilets</span>
                                            &nbsp;
                                            <!-- <i class="fas fa-ruler-combined"></i>
                                            <span class="w3-small">450m²</span> -->
                                        </div>
                                        <button class="w3-button w3-round-xxlarge w3-wide w3-block w3-small property-card-btn">
                                            <span class="w3-hide-small">VIEW</span> ALL DETAILS
                                        </button>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include("partials/footer") -%>