<%- include("partials/header") -%>
    <%- include("partials/topnavigation") -%>
        <%- include("partials/sidenav") -%>

            <div class="homepage-banner">
                <div class="homepage-banner-overlay">
                    <div class="homepage-banner-text-container">
                        <h1 class="homepage-banner-heading">
                            We are your best bet to owning an affordable and serene real estate.
                        </h1>
                        <h6 class="homepage-banner-supporting">
                            Are you ready to get your dream home? We are poised to get you just that.
                        </h6>
                    </div>
                </div>
            </div>

            <div class="about-section">
                <span class="about-section-heading-supporting">Whate We Are</span>
                <h1 class="about-section-heading">ABOUT</h1>
                <div class="w3-row">
                    <div class="w3-col l8 m6">
                        <p>
                            Nat-Hammah Estates is a new state-of-the-art real estate located in Winneba. We are
                            committed to providing custom-made, beautiful yet affordable living spaces for people in
                            different income brackets that will suit their lifestyle. We are primed to help especially
                            first-time homeowners to get their dream homes without stress.
                            <br>
                            <br>
                            With our professional and experienced team of experts in land acquisition, architecture,
                            land use and spatial planning, realtors, we have set out to provide our customers and the
                            general public with world-class accommodation here in Ghana.
                            <br>
                            <br>
                            We are here to develop long lasting and prosperous relationships with our customers.
                        </p>
                        <button class="w3-button w3-round-xxlarge w3-black">
                            MORE ABOUT US
                            &nbsp;
                            <i class="fas fa-arrow-right w3-card"></i>
                        </button>
                        <br>
                        <br>
                    </div>
                    <div class="w3-col l4 m6 w3-right-align">
                        <img class="w3-round-large" style="width: 95%;" src="/assets/maxresdefault.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="services-section">
                <div class="w3-row">
                    <div class="w3-col l6 m6 ">
                        <div class="first-service-text-con">
                            <span class="services-section-heading-supporting">
                                We Provide  
                            </span>
                            <h1 class="services-section-heading">Homes for individuals and corporate bodies.</h1>
                            <p>
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                    </div>
                    <div class="w3-col l6 m6">
                        <div class="service-img-con">
                            <img class="w3-round-large" style="width: 100%;" src="/assets/maxresdefault.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="services-section">
                <div class="w3-row">
                    <div class="w3-col l6 m6">
                        <div class="service-img-con">
                            <img class="w3-round-large" style="width: 100%;" src="/assets/maxresdefault.jpg" alt="">
                        </div>
                    </div>
                    <div class="w3-col l6 m6 ">
                        <div class="second-service-text-con">
                            <span class="services-section-heading-supporting">
                                We Provide  
                            </span>
                            <h1 class="services-section-heading">Home Maintenance Services.</h1>
                            <p>
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="services-section">
                <div class="w3-row">
                    <div class="w3-col l6 m6 ">
                        <div class="third-service-text-con">
                            <span class="services-section-heading-supporting">
                                We Provide  
                            </span>
                            <h1 class="services-section-heading">Advisory services on home acquisition</h1>
                            <p>
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                    </div>
                    <div class="w3-col l6 m6">
                        <div class="service-img-con">
                            <img class="w3-round-large" style="width: 100%;" src="/assets/maxresdefault.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="exclusive-properties-section">
                <div class="w3-center">
                    <span class="ep-section-heading-supporting">Exclusive</span>
                    <h1 class="ep-section-heading">PROPERTY OFFERS</h1>
                </div>
                <br>
                <div class="w3-row">
                    <div class="w3-col l4 p-card-col">
                        <a href="" style="text-decoration: none;">
                            <div class="property-card">
                                <div class="property-header-text-cont">
                                    <h5 class="property-h-heading w3-wide">Estate One</h5>
                                    <p class="property-h-supporting">Royal Family Estate</p>
                                    <span class="property-h-price">$565,000</span>
                                </div>
                                <div class="property-bg-img" 
                                style="background-image: url('/assets/Royal-Family-Estate.jpeg');">

                                </div>
                                <div class="property-extra-desc">
                                    <i class="fas fa-bed"></i>
                                    <span class="w3-small">7 Rooms</span>
                                    &nbsp;
                                    <i class="fas fa-toilet"></i>
                                    <span class="w3-small">8</span>
                                    &nbsp;
                                    <!-- <i class="fas fa-ruler-combined"></i>
                                    <span class="w3-small">450m²</span> -->
                                </div>
                                <button class="w3-button w3-round-xxlarge w3-wide w3-block w3-small property-card-btn">
                                    <span class="w3-hide-small">VIEW</span> ALL DETAILS
                                </button>
                            </div>
                        </a>
                    </div>
                    <div class="w3-col l4 p-card-col">
                        <a href="" style="text-decoration: none;">
                            <div class="property-card">
                                <div class="property-header-text-cont">
                                    <h5 class="property-h-heading w3-wide">Estate Two</h5>
                                    <p class="property-h-supporting">Eloquence Estate</p>
                                    <span class="property-h-price">$490,000</span>
                                </div>
                                <div class="property-bg-img" 
                                style="background-image: url('/assets/Eloquence-Estate.jpeg');">

                                </div>
                                <div class="property-extra-desc">
                                    <i class="fas fa-bed"></i>
                                    <span class="w3-small">5 Rooms</span>
                                    &nbsp;
                                    <i class="fas fa-toilet"></i>
                                    <span class="w3-small">6 Toilets</span>
                                    &nbsp;
                                    <!-- <i class="fas fa-ruler-combined"></i>
                                    <span class="w3-small">450m²</span> -->
                                </div>
                                <button class="w3-button w3-round-xxlarge w3-wide w3-block w3-small property-card-btn">
                                    <span class="w3-hide-small">VIEW</span> ALL DETAILS
                                </button>
                            </div>
                        </a>
                    </div>
                    <div class="w3-col l4 p-card-col">
                        <a href="" style="text-decoration: none;">
                            <div class="property-card">
                                <div class="property-header-text-cont">
                                    <h5 class="property-h-heading w3-wide">Estate Three</h5>
                                    <p class="property-h-supporting">Nature Valley Estate</p>
                                    <span class="property-h-price">$400,000</span>
                                </div>
                                <div class="property-bg-img" 
                                style="background-image: url('/assets/Nature-Valley-Estate.jpeg');">

                                </div>
                                <div class="property-extra-desc">
                                    <i class="fas fa-bed"></i>
                                    <span class="w3-small">5 Rooms</span>
                                    &nbsp;
                                    <i class="fas fa-toilet"></i>
                                    <span class="w3-small">6 Toilets</span>
                                    &nbsp;
                                    <!-- <i class="fas fa-ruler-combined"></i>
                                    <span class="w3-small">450m²</span> -->
                                </div>
                                <button class="w3-button w3-round-xxlarge w3-wide w3-block w3-small property-card-btn">
                                    <span class="w3-hide-small">VIEW</span> ALL DETAILS
                                </button>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="real-estate-numbers-section">
                <div class="w3-row">
                    <div class="w3-col l3 m3 re-ns-col">
                        <i class="fas fa-square-full w3-large"></i>
                        <h5>LAND</h5>
                        <h2 class="re-num">10</h2>
                    </div>
                    <div class="w3-col l3 m3 re-ns-col">
                        <i class="fas fa-hotel w3-large"></i>
                        <h5>APARTMENTS</h5>
                        <h2 class="re-num">50</h2>
                    </div>
                    <div class="w3-col l3 m3 re-ns-col">
                        <i class="fas fa-home w3-large"></i>
                        <h5>HOUSES</h5>
                        <h2 class="re-num">50</h2>
                    </div>
                    <div class="w3-col l3 m3 re-ns-col">
                        <i class="fas fa-building w3-large"></i>
                        <h5>COMMERCIAL</h5>
                        <h2 class="re-num">50</h2>
                    </div>
                </div>
            </div>

            <!-- <div class="section">
                <span class="section-heading-supporting">OUR</span>
                <h1 class="section-heading">PARTNERS</h1>
                <br>
                <div class="w3-row-padding">
                    <div class="w3-col l3 m6">
                        <i class="fas fa-hard-hat w3-large"></i>
                    </div>
                    <div class="w3-col l3 m6">
                        <i class="fas fa-wrench w3-large"></i>
                    </div>
                    <div class="w3-col l3 m6">
                        <i class="fas fa-truck-pickup w3-large"></i>
                    </div>
                    <div class="w3-col l3 m6">
                        <i class="fas fa-toolbox w3-large"></i>
                    </div>
                </div>
            </div> -->

            <%- include("partials/footer") -%>