
<div class="footer-section w3-row">
    <div class="w3-col l3 m6 footer-col">
        <h6>CONTACT US</h6>
        <p class="footer-paragraph-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <span>
            <i class="fas fa-map-marker-alt"></i>
            &nbsp; Some Address
        </span>
        <br>
        <br>
        <a href="mailto:example@exmail.com">
            <span>
                <i class="fas fa-envelope"></i>
                &nbsp; example@exmail.com
            </span>
        </a>
        <br>
        <br>
        <a href="tel:+233 1234 567 89">
            <span>
                <i class="fas fa-phone"></i>
                &nbsp; +233 1234 567 89
            </span>
        </a>
        <br>
        <br>
    </div>

    <div class="w3-col l3 m6 footer-col">
        <h6>QUICK LINKS</h6>
        <br>
        <a href="/">
            <i class="fas fa-caret-right"></i>
            &nbsp;
            HOMES & CONDOS
        </a>
        <br>
        <a href="/">
            <i class="fas fa-caret-right"></i>
            &nbsp;
            PARTNERS
        </a>
        <br>
        <a href="/">
            <i class="fas fa-caret-right"></i>
            &nbsp;
            SITE
        </a>
        <br>
        <a href="/" style="text-decoration: none;">
            <i class="fas fa-caret-right"></i>
            &nbsp;
            CITY
        </a>
        <br>
    </div>

    <div class="w3-col l3 m6 footer-col">
        <h6>ABOUT US</h6>
        <br>
        <a href="/">
            <i class="fas fa-caret-right"></i>
            &nbsp;
            OUR MISSION
        </a>
        <br>
        <a href="/">
            <i class="fas fa-caret-right"></i>
            &nbsp;
            OUR SERVICES
        </a>
        <br>
        <a href="/">
            <i class="fas fa-caret-right"></i>
            &nbsp;
            WHY NAT-HAMMAH ESTATES
        </a>
        <br>
        <a href="/">
            <i class="fas fa-caret-right"></i>
            &nbsp;
            THE TEAM
        </a>
    </div>
</div>

</body>
</html>