<!-- Left Sidebar for smaller screens -->
<div id="mySidenav" class="sidenav w3-animate-left">
    <br>
    <span class="menu-title w3-tag">SITE LINKS</span>
    <a href="/about"><i class="fas fa-caret-right w3-tiny"></i> &nbsp; ABOUT</a>
    <a href="/city"><i class="fas fa-caret-right w3-tiny"></i> &nbsp; CITY</a>
    <a href="/site"><i class="fas fa-caret-right w3-tiny"></i> &nbsp; SITE</a>
    <a href="/homes"><i class="fas fa-caret-right w3-tiny"></i> &nbsp; HOMES</a>
    <a href="/"><i class="fas fa-caret-right w3-tiny"></i> &nbsp; PARTNERS</a>
    <br>
    <!-- <a href="http://noguchimedres.org/index.php">EXTERNAL LINK <i class="fas fa-external-link-alt"></i></a> -->
</div>
<!-- Left Sidebar for smaller screens -->